.blog__titulo--color {
  color: brown; }

.blog__subTitulo--color {
  color: brown; }

.blog__texto--color {
  color: black; }

.section__titulos--color h1 {
  color: brown; }

.section__titulos--color h3 {
  color: brown; }

.blog__card--color div .btn {
  color: white;
  background-color: brown; }

.blog__titulo--tamanio {
  font-size: 400%;
  text-align: center; }

.blog__subTitulo--tamanio {
  font-size: 150%;
  text-align: center; }

.blog__texto--tamanio {
  font-size: 100%;
  text-align: justify; }

/*FONTS*/
/* Font logo*/
@font-face {
  font-family: 'hatton';
  src: url(../assets/font/Hatton/Hatton-Semibold.otf); }

/*Font general*/
@font-face {
  font-family: 'cabin';
  src: url(../assets/font/Cabin/Cabin-VariableFont_wdth\,wght.ttf); }

@font-face {
  font-family: 'playfairDisplay';
  src: url(../assets/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf); }

body .blog__titulo--font {
  font-family: playfairDisplay; }

body .blog__subTitulo--font {
  font-family: playfairDisplay; }

body .blog__texto--font {
  font-family: cabin; }

body .header__navbar--font .navbar-brand {
  font-family: hatton; }

body .header__navbar--font a {
  font-family: playfairDisplay; }

.section__titulos--font h1 {
  font-family: playfairDisplay;
  font-size: 250%;
  font-style: normal;
  letter-spacing: 5px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px; }

.section__titulos--font h3 {
  font-family: playfairDisplay;
  font-size: 100%;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 15px; }

.productos__titulos--font div div h4 {
  font-family: playfairDisplay;
  text-align: center; }

.productos__titulos--font div div h5 {
  font-family: playfairDisplay;
  text-align: center; }

.blog__card--font div .card-title {
  font-family: playfairDisplay;
  text-align: center; }

.blog__card--font div .card-text {
  font-family: cabin;
  text-align: justify; }

.blog__card--font div a {
  font-family: cabin; }

.blog__titulo--color {
  margin: 2% 1% 1% 1%; }

.blog__subTitulo--color {
  margin: 1%; }

.blog__texto--color {
  margin: 1% 1% 3% 1%; }

.container-fluid {
  padding: 0%; }

body {
  overflow-x: hidden;
  background-image: linear-gradient(#faeee2, white, #faeee2); }

/*CLASE 9*/
/*TEXTO SLIDE*/
.carTitulo a {
  color: white; }

.backgroundCarousel {
  background-color: rgba(165, 42, 42, 0.637);
  padding: 1% 10% 1% 10%;
  margin: 1%; }

/*HEADER*/
/*LOGO*/
.logo {
  font-family: hatton;
  color: brown; }

/*NAV*/
a {
  font-family: cabin;
  color: brown;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 5%; }

header ul li {
  list-style: none; }

/*CONTENIDO*/
/*LOCALES*/
/*TEXTO*/
.locNom {
  font-family: playfairDisplay;
  text-align: center;
  text-transform: uppercase; }

.locDir {
  font-family: cabin;
  text-align: center; }

.locNum {
  font-family: cabin;
  text-align: center; }

/*PRODUCTOS
    div h4 {
        font-family: playfairDisplay;
        text-align: center;}
    div h5 {
        font-family: playfairDisplay;
        text-align: center;}*/
/*TABLAS*/
/*FORM*/
.textoForm {
  font-family: cabin;
  font-size: 90%;
  text-align: center; }

.form input {
  font-family: cabin; }

.form textarea {
  font-family: cabin; }

/*FOOTER*/
/*TITULO*/
footer div h3 {
  font-family: cabin;
  color: brown;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px; }

/*INFO*/
.estiloFooter div h5 {
  font-family: cabin;
  color: black;
  font-weight: normal;
  margin-right: 10px;
  margin-left: 10px; }

/*NEWSLETTER*/
.enviar {
  margin-right: 10px; }

/*MOBILE*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*FONT-SIZE*/
  /*HEADER*/
  .logo {
    font-size: 200%;
    margin-top: 5%; }
  .gridHeader nav ul {
    font-size: 80%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 10%; }
  .gridHeader nav ul li {
    margin-right: 1%;
    margin-left: 1%; }
  /*CONTENIDO*/
  .titulo {
    font-size: 250%; }
  .subTitulo {
    font-size: 100%; }
  /*BACKGROUND*/
  header {
    background-color: #ecbcbc; }
  /*GRID*/
  .gridHeader {
    display: grid;
    grid-template-areas: "logo" "nav";
    grid-template-rows: 1fr 1fr; }
  .logo {
    grid-area: logo; }
  header nav ul {
    grid-area: nav; }
  /*FLEX*/
  .logo {
    display: flex;
    justify-content: center; }
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  /*CONTENIDO*/
  /*LOCALES*/
  /*img*/
  .locImg img {
    width: 100%; }
  /*texto*/
  .locNum {
    margin-bottom: 5%; }
  /*flex*/
  .locNom {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .locDir {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .locNum {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  /*PRODUCTOS*/
  /*SIZE*/
  .desktop {
    display: none; }
  .prodImg1 img {
    width: 45%; }
  .prodImg2 img {
    width: 45%; }
  .prodImg3 img {
    width: 45%; }
  .prodImg4 img {
    width: 45%; }
  /*FLEX*/
  /*imagenes*/
  .prodImg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodImg2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodImg3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodImg4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  /*nombre*/
  .prodNom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodNom2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodNom3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodNom4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  /*precio*/
  .prodPrecio1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodPrecio2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodPrecio3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodPrecio4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  /*BLOG*/
  .marginCard {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%; }
  .btn {
    display: flex;
    justify-content: center; }
  /*FORM*/
  .checkboxFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .botonesFlex {
    display: flex;
    justify-content: center;
    margin: 2% 2% 10% 2%; }
  /*TABLA*/
  .tablaEstilo div {
    font-family: cabin;
    font-size: 100%;
    text-align: center;
    margin: 2%; }
  .gridTabla {
    display: grid;
    grid-template-columns: 50% 50%; }
  /*FOOTER*/
  /*TEXTO*/
  .estiloFooter h5 {
    text-align: left; }
  /*BACKGROUND*/
  .gridFooter {
    background-color: #ecbcbc;
    padding-top: 5%;
    padding-bottom: 30%; }
  /*GRIDS*/
  .gridFooter {
    display: grid;
    grid-template-areas: "gridFooterTitulos1"  "footerMail" "gridFooterTitulos2" "FooterRedes" "gridFooterTitulos3" "footerNews";
    grid-template-rows: 20% 30% 20% 40% 20% 30%; }
  .gridFooterTitulos1 {
    grid-area: gridFooterTitulos1; }
  .gridFooterTitulos2 {
    grid-area: gridFooterTitulos2; }
  .gridFooterTitulos3 {
    grid-area: gridFooterTitulos3; }
  .footerMail {
    grid-area: footerMail; }
  .FooterRedes {
    grid-area: FooterRedes; }
  .footerNews {
    grid-area: footerNews; }
  /*FLEX*/ }

/*DESKTOP*/
@media only screen and (min-width: 768px) {
  /*HEADER*/
  .logo {
    margin-left: 10px; }
  nav ul li a {
    font-size: 95%;
    margin-right: 10px; }
  /*BACKGROUND*/
  header {
    background-color: #ecbcbc;
    padding-top: 5px;
    padding-bottom: 5px; }
  /*GRID*/
  .gridHeader {
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 50% 50%; }
  .logo {
    grid-area: logo; }
  header nav ul {
    grid-area: nav; }
  /*FLEX*/
  header {
    display: flex;
    align-items: center; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  /*CONTENIDO*/
  /*LOCALES*/
  /*img*/
  .locImg img {
    width: 30%;
    margin-top: 3%; }
  .locNum {
    margin-bottom: 3%; }
  /*FLEX*/
  .locImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .locNom {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .locDir {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .locNum {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  /*PRODUCTOS*/
  .mobile {
    display: none; }
  /*SIZE*/
  .prodImg1 img {
    width: 20%; }
  .prodImg2 img {
    width: 20%; }
  .prodImg3 img {
    width: 20%; }
  .prodImg4 img {
    width: 20%; }
  /*FLEX*/
  .prodImg1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodImg2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodNom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodNom2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodPrecio1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  .prodPrecio2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.4%; }
  /*BLOG*/
  .marginCard {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%; }
  .btn {
    display: flex;
    justify-content: center; }
  /*FORM*/
  .form-group input {
    display: flex;
    justify-content: center; }
  .checkboxFlex div {
    margin-left: 1%;
    margin-right: 1%; }
  .checkboxFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .botonesFlex {
    display: flex;
    justify-content: center;
    margin: 2% 2% 10% 2%; }
  /*TABLA*/
  .tablaEstilo div {
    font-family: cabin;
    font-size: 100%;
    text-align: center;
    margin: 2%; }
  .gridTabla {
    display: grid;
    grid-template-columns: 50% 50%; }
  /*FOOTER*/
  /*TEXTO*/
  .gridFooterTitulos1 {
    text-align: center; }
  .gridFooterTitulos2 {
    text-align: center; }
  .gridFooterTitulos3 {
    text-align: center; }
  .FooterRedes h5 {
    text-align: center; }
  /*BACKGROUND*/
  .gridFooter {
    background-color: #ecbcbc;
    padding-top: 15px;
    padding-bottom: 40px; }
  /*GRIDS*/
  .gridFooter {
    display: grid;
    grid-template-areas: "gridFooterTitulos1 gridFooterTitulos2 gridFooterTitulos3"  "footerMail FooterRedes footerNews";
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30%; }
  .gridFooterTitulos1 {
    grid-area: gridFooterTitulos1; }
  .gridFooterTitulos2 {
    grid-area: gridFooterTitulos2; }
  .gridFooterTitulos3 {
    grid-area: gridFooterTitulos3; }
  .footerMail {
    grid-area: footerMail; }
  .FooterRedes {
    grid-area: FooterRedes; }
  .footerNews {
    grid-area: footerNews; }
  /*FLEX*/
  .gridFooterTitulos3 {
    display: flex;
    flex-direction: row;
    justify-content: end; } }
