

.blog__titulo--tamanio {
    font-size: 400%;
    text-align: center;}

.blog__subTitulo--tamanio {
    font-size: 150%;
    text-align: center;}

.blog__texto--tamanio {
    font-size: 100%;
    text-align: justify;}