<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog </title>

    <meta name="description" content="Bakery, ultimas noticias de la semana. Aprende junto a nosotros sobre pastelería artesanal">
    <meta name="keywords" content="BAKERY PANADERÍA PASTELERIA CONFITERIA ARTESANAL CAFETERIA PRODUCTOS CASEROS NOVEDADES NOTICIAS BLOG">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <!--INICIO HEADER-->

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12 backgroundNav">
                    <nav class="navbar navbar-expand-lg navbar-light header__navbar--font ">
                        <a class="navbar-brand" href="#">Bakery</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="locales.html">Locales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="productos.html">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--FIN HEADER-->

    <!--ARTICULOS-->
    <section> 
        <article class="card">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 section__titulos--font section__titulos--color">
                        <h1 class="titulo">Blog</h1>
                    </div>
                    <div class="col-lg-3 col-xs-12 marginCard blog__card--font blog__card--color">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/img/blog/blog1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Lorem impsun 1</h5>
                            <p class="card-text">Magnam animi aut quia odit officia rerum placeat ab reiciendis excepturi, velit ratione itaque eligendi quidem consequatur, magni beatae. Perferendis recusandae harum similique suscipit!</p>
                            <a href="lorem1.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 marginCard blog__card--font blog__card--color">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/img/blog/blog2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Lorem impsun 2</h5>
                            <p class="card-text">Saepe eveniet maxime possimus reprehenderit similique vitae qui quis voluptas deleniti perferendis recusandae harum doloribus, modi excepturi tempore adipisci. Optio impedit et ab eligendi distinctio.</p>
                            <a href="lorem2.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-12 marginCard blog__card--font blog__card--color ">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/img/blog/blog3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Lorem impsun 3</h5>
                            <p class="card-text">Magnam animi aut quia odit officia rerum placeat ab reiciendis excepturi, velit ratione itaque eligendi quidem consequatur, possimus quisquam sit amet consectetur adipisicing repellendus distinctio beatae. </p>
                            <a href="lorem3.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12 marginCard blog__card--font blog__card--color">
                        <div class="card" style="width: 18rem;">
                            <img src="../assets/img/blog/blog4.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">Lorem impsun 4</h5>
                            <p class="card-text">Dolore architecto, aliquid soluta odit unde ut laboriosam possimus quisquam nam. Optio impedit et ab eligendi distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit possimus quisquam sit amet.</p>
                            <a href="lorem4.html" class="btn btn-primary">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <!---->

    <!--INICIO FOOTER-->
    <footer >
        <div class="gridFooter estiloFooter">
            <div class="gridFooterTitulos1">
                <h3>contacto</h3>
            </div>
            <div class="footerMail">
                <h5><img src="../assets/img/icon/email.png" alt="" width="15px">bakery@gmail.com</h5>
                <h5><img src="../assets/img/icon/telefono.png" alt="" width="15px">+54 9 1111111111</h5>
            </div>
            <div class="gridFooterTitulos2">
                <h3>redes sociales</h3>
            </div>
            <div class="FooterRedes">
                <h5><img src="../assets/img/icon/instagram.png" alt="" width="15px">@bakery</h5>
                <h5><img src="../assets/img/icon/twitter.png" alt="" width="15px">@bakery</h5>
                <h5><img src="../assets/img/icon/facebook.png" alt="" width="15px">Bakery</h5>
            </div>
            <div class="gridFooterTitulos3">
                <h3>newsletter</h3>
            </div>
            <div class="footerNews">
                <form action="#">
                    <input type="text" placeholder="E-mail">
                    <input class="enviar" type="submit" value="ENVIAR">
                </form>
            </div>
        </div>       

    </footer>
    <!--FIN FOOTER-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</html>