<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <!--INICIO HEADER-->

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xs-12 backgroundNav">
                    <nav class="navbar navbar-expand-lg navbar-light header__navbar--font ">
                        <a class="navbar-brand" href="#">Bakery</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="locales.html">Locales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="productos.html">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!--FIN HEADER-->

    <!--INICIO CONTENIDO-->

    <section>
        <article class="blog">
            <div class="container">
                <div class="row">
                    <div  class="col-lg-12 col-xs-12">
                        <h3 class="blog__titulo--color blog__titulo--font blog__titulo--tamanio">Lorem impsun 1</h3>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-lg-12 col-xs-12">
                        <h5 class="blog__subTitulo--color blog__subTitulo--font blog__subTitulo--tamanio">Ea totam consequuntur ullam facere deserunt harum voluptatum.</h5>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-lg-12 col-xs-12">
                        <p class="blog__texto--color blog__texto--font blog__texto--tamanio">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam hic consequuntur asperiores magnam nemo tempore ipsam quas animi aut culpa labore, quos ut veniam saepe commodi quaerat? Fugit, eos adipisci!
                        Fuga culpa voluptatum maiores modi eaque vero incidunt possimus quasi harum, adipisci itaque sequi suscipit asperiores commodi esse, ratione nesciunt neque ipsum quod ad nobis perferendis doloribus. Commodi, explicabo numquam!
                        Nihil consequatur placeat, possimus aliquam unde corporis blanditiis debitis excepturi maiores ullam. Ipsam, ut. Saepe architecto, perferendis, illum officiis ipsa at facilis perspiciatis deleniti cumque exercitationem suscipit officia, recusandae tempore?</p>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-lg-12 col-xs-12">
                        <img src="../assets/img/blog/blog1b.jpg" alt="" width="100%">
                    </div>
                </div>
                
                <div class="row">
                    <div  class="col-lg-12 col-xs-12">
                        <p class="blog__texto--color blog__texto--font blog__texto--tamanio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsam et tempora error, harum excepturi beatae? Sequi ducimus expedita, tempora deleniti minus voluptatibus fugiat aliquam in voluptates nesciunt, assumenda repudiandae.
                        Accusamus adipisci eveniet iste ratione, aperiam accusantium esse molestiae quasi, aliquam cumque voluptate sint? Tempora alias praesentium molestias quam excepturi exercitationem incidunt sapiente iste fugit maiores. Officia sit quis illo.
                        Facilis minus dolorem, enim unde iste et soluta magnam. Quae quam harum in sint sapiente hic fugit soluta blanditiis veniam consectetur dolore, eum ad quod magni, omnis pariatur et doloribus.
                        Repellat esse cum officiis quisquam, impedit blanditiis velit ipsam, obcaecati libero aspernatur quidem numquam. Eum velit, facilis eaque, quis corporis excepturi voluptates est quasi praesentium maxime numquam ea, eius et!
                        Eveniet quae dignissimos explicabo obcaecati, id saepe autem amet maxime dolorum, expedita ea ab voluptatibus perferendis consectetur. Odit officiis voluptates vero rerum ad! Ipsam, quis expedita facilis possimus dolor necessitatibus.</p>
                        <p class="blog__texto--color blog__texto--font blog__texto--tamanio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint natus cum quaerat quia voluptates vitae obcaecati, commodi cupiditate neque, placeat similique perspiciatis animi distinctio modi. Exercitationem ducimus non ab assumenda.
                        Quis dolore ipsum fuga dolorem delectus voluptatibus aspernatur aliquid, et atque magni eum aut minima id? Expedita, beatae vel atque rerum delectus nulla consectetur. Unde esse at modi maiores aperiam!
                        Rem, voluptate temporibus impedit voluptas sit pariatur mollitia accusamus fugiat illo molestiae doloribus incidunt inventore ad quos ipsum facere, esse ea optio ducimus, laboriosam tempora totam quibusdam? Ipsum, nam suscipit!
                        Aperiam magni laudantium enim porro doloribus sapiente asperiores cum quis nesciunt praesentium natus eum, repellat modi sit tenetur, dolorum, inventore magnam nobis dolore accusamus quo? Sapiente dolore cupiditate vitae deleniti.</p>
                        <p class="blog__texto--color blog__texto--font blog__texto--tamanio">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur dolore odio minima asperiores velit officia excepturi adipisci, totam repellat atque dolorem, sed dignissimos quod dolores perferendis cupiditate qui, delectus consequuntur.
                        Id sint aspernatur nulla nobis rem non fuga voluptates reprehenderit quis, maiores repellat, hic dolor? Quam hic itaque ad doloribus magni eaque maiores nisi. Modi suscipit eius cumque ea. Quas?
                        Nihil ab repellat rerum beatae eveniet. Ipsam suscipit provident, labore error quas in consectetur aut deleniti explicabo! Dignissimos incidunt ipsam culpa, labore distinctio esse, eaque quas dolor repellendus consequatur nam.
                        Obcaecati tempora ipsum ratione sint perspiciatis dicta earum aliquid impedit iure! Animi expedita totam est ducimus necessitatibus cupiditate rerum ullam minus sit, vero itaque? Error totam laborum quod doloribus! Enim.
                        Aspernatur iste dignissimos, nisi autem perferendis minima ad excepturi, totam cumque atque quasi iure, officiis in error aliquid blanditiis unde consequuntur eum veniam aut. Asperiores iure minima accusamus nulla ratione.</p>
                    </div>
                </div>
            </div>

            
        </article>
    </section>


    <!--FIN CONTENIDO-->

    <!--INICIO FOOTER-->
    <footer >
        <div class="gridFooter estiloFooter">
            <div class="gridFooterTitulos1">
                <h3>contacto</h3>
            </div>
            <div class="footerMail">
                <h5><img src="../assets/img/icon/email.png" alt="" width="15px">bakery@gmail.com</h5>
                <h5><img src="../assets/img/icon/telefono.png" alt="" width="15px">+54 9 1111111111</h5>
            </div>
            <div class="gridFooterTitulos2">
                <h3>redes sociales</h3>
            </div>
            <div class="FooterRedes">
                <h5><img src="../assets/img/icon/instagram.png" alt="" width="15px">@bakery</h5>
                <h5><img src="../assets/img/icon/twitter.png" alt="" width="15px">@bakery</h5>
                <h5><img src="../assets/img/icon/facebook.png" alt="" width="15px">Bakery</h5>
            </div>
            <div class="gridFooterTitulos3">
                <h3>newsletter</h3>
            </div>
            <div class="footerNews">
                <form action="#">
                    <input type="text" placeholder="E-mail">
                    <input class="enviar" type="submit" value="ENVIAR">
                </form>
            </div>
        </div>       

    </footer>
    <!--FIN FOOTER-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</html>